html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#sidebar {
    background-color: #2196F3;
    padding: 15px;
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 180px;
        height: 100%;
        padding-top: 30px;
    }
}

@media (min-width: 768px) {
    #content {
        margin-left: 180px;
    }
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: .8rem;
    text-decoration: none;
}

#textBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -50px;
}

#modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    margin-top: 5px;
    margin-left: 5px;
}

#modal-btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.linkText {
    color: white;
}